apiVersion: apps/v1
kind: Deployment
metadata:
  name: matching-service
  namespace: peerprep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: matching-service
  template:
    metadata:
      labels:
        app: matching-service
    spec:
      containers:
        - name: matching-service
          image: asia-southeast1-docker.pkg.dev/peerprep-438213/peerprep/matching-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3004
          envFrom:
            - secretRef:
                name: peerprep-secrets
            - configMapRef:
                name: matching-configmap
      restartPolicy: Always
