apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: peerprep
  labels:
    app: user-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: asia-southeast1-docker.pkg.dev/peerprep-438213/peerprep/user-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3001
          envFrom:
            - secretRef:
                name: peerprep-secrets
            - configMapRef:
                name: user-configmap
      restartPolicy: Always
